NODE_ENV=DEV
PORT=3000
API_KEY=change-me
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgrespw
DATABASE_NAME=postgres
SALT=10
# Generate base64 for a secret echo -n "minha-senha" | base64
JWT_SECRET=bWluaGEtc2VuaGE=
